<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-tracker</title>
    <link href="./output.css" rel="stylesheet">
    <link href="./styles.css" rel="stylesheet">

<body class="">
    <div>
        <header class="p-3 ">
            <nav class="flex justify-between items-center">
                <div>
                    <h1 class="text-xl md:text-3xl font-bold sm:ml-4 ml-2"><a href="/">E-tracker</a></h1>
                </div>
                <div class="flex gap-6 md:text-lg sm:mr-4 mr-2 items-center">
                    <a href="/logout">Logout</a>
                    <a href="/chart">Chart</a>
                    <a href="/add"><img class="" src="/icons/add.svg" style="height:2rem">
                    </a>
                </div>
            </nav>
        </header>
        <div class="flex justify-center flex-col items-center gap-6 mt-10">
            <%if(exercises.length==0){%>
                <img class="mt-16 p-6" src="/images/empty.svg" alt="No Workouts!" style="height:50vh;">
                <%}%>
                    <form id="filterForm" action="/" method="GET" class="filter-date flex gap-4 items-center">
                        <div class="flex gap-2 items-center">
                            <label for="from">From:</label>
                            <input class="w-full bg-slate-200 text-lg p-2 rounded" type="date" name="from" id="from">
                        </div>
                        <div class="flex gap-1 items-center">
                            <label for="to">To:</label>
                            <input class="w-full bg-slate-200 text-lg p-2 rounded" type="date" name="to" id="to">
                        </div>
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Filter</button>
                    </form>
                
                    <% for(var i=0; i < exercises.length; i++) { %>

                        <div class="flex items-center justify-evenly gap-6 sm:w-1/2 w-3/4 bg-green-200 p-4">
                            <div class="flex cursor-pointer trigger"
                                onclick="showModal(`<%= exercises[i].description %>`)">
                                <div class="flex flex-col gap-2">
                                    <span class="text-xl font-bold">
                                        <%= exercises[i].date %>
                                    </span>
                                    <span class="text-lg">
                                        <%= exercises[i].duration %>&nbsp;mins
                                    </span>
                                </div>
                            </div>
                            <div>
                                <a href="/delete/<%=i%>%>" class="font-medium rounded ">
                                    <img class="" src="/icons/delete.svg" style="height:2rem">
                                </a>
                            </div>
                        </div>

                        <% } %>
        </div>
        <div class="modal" onclick="hideModal()">

            <div class="modal-content rounded-lg md:w-1/2 w-3/4 overflow-y-scroll">
                <div class="text-xl text-center font-bold">Description</div>
                <p class="text-justify mt-4 text-lg" style="white-space: pre-line;">
                </p>
            </div>

        </div>

    </div>
    <div class="paginate flex justify-center mt-12 gap-6">
        <%if(page>1){%>
            <div class="prev"><a href="/?page=<%=page-1%>&limit=<%=limit%>">Previous</a></div>
            <%}%>
                <%if(page<totalPages){%>
                    <div class="next"><a href="/?page=<%=page+1%>&limit=<%=limit%>">Next</a></div>
                    <%}%>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const filterForm = document.getElementById('filterForm');
        filterForm.addEventListener('submit', function(event) {
            event.preventDefault(); 

            const fromDate = document.getElementById('from').value;
            const toDate = document.getElementById('to').value;

            const queryParams = new URLSearchParams({
                from: fromDate,
                to: toDate,
                page: 1, 
            }).toString();

            window.location.href = `/?${queryParams}`;
        });
    });

    function showModal(desc) {
        console.log(desc);
        let modal = document.querySelector('.modal');
        let modalContent = document.querySelector('.modal-content p');
        let trigger = document.querySelector('.trigger');
        modalContent.innerHTML = desc;
        modal.style.display = "block";
    }
    function hideModal() {
        let modal = document.querySelector('.modal');
        modal.style.display = "none";
    }
</script>

</html>